---
import Layout from "../layouts/Layout.astro";
import Sustainability from "../components/Sustainability.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TÓKI House</title>
  </head>
  <body>
    <Layout>
      <h1>Forside</h1>
      <Sustainability />
    </Layout>
  </body>
</html>
