@font-face {
  font-family: "Martel";
  src: url(...);
}
@font-face {
  font-family: "Yantramanav";
  src: url();
}
h1 {
  font-family: "Josefin Sans", sans-serif;
}
h2 {
  font: "Martel", serif;
}
p {
  font-family: "Yantramanav", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(246, 245, 234, 1);
}
