<body>
  <header>
    <nav></nav>
    <nav>
      <a href="/">Home</a>
      <a href="/cases">Cases</a>
      <a href="/flow">TÓKI Flow</a>
      <a href="/">Contact</a>
    </nav>
  </header>
</body>
