---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../css/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TÓKI House</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>


<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow-x: hidden; 
    }
</style>
